<h1>Welcome to Angular</h1>
<nav>
  <li><a routerLink="/about" routerLinkActive="active">About component</a></li>
  <li><a routerLink="/home" routerLinkActive="active">Home component</a></li>
  <li><a routerLink="/templateform" routerLinkActive="active">Template Driven Form Component</a></li>
  <li><a routerLink="/reactiveform" routerLinkActive="active">Reactive Form Component</a></li>
  <li><a routerLink="/getdata" routerLinkActive="active">Get DataComponent</a></li>
  <li><a routerLink="/postdata" routerLinkActive="active">Post DataComponent</a></li>
  <li><a routerLink="/parent" routerLinkActive="active">Parent Component</a></li>
  <li><a routerLink="/zoo" routerLinkActive="active">Zoo Component</a></li>
  <li><a routerLink="/employee" routerLinkActive="active">Employee Component</a></li>
  <li><a routerLink="/learnRxjs" routerLinkActive="active">Learn Rxjs Component</a></li>

  <!-- <li><a routerLink="/employee/:id" routerLinkActive="active">Single Employee Component</a></li> -->

</nav>
<router-outlet></router-outlet>

<!-- <app-parent></app-parent> -->