.box{
    width: 20px;
    height: 20px;
    box-shadow: 5px 5px red;
    border: 1px solid black;
}
.table,th,td{
      border-collapse: collapse;
      border: 1px solid black;
}
.so-am{
    color: red;
}